/***********
BREAKPOINTS
***********/
$xsmallscreens  :   20.000em;
$smallscreens   :   31.938em;
$mediumscreens  :   64.063em;
$largescreens   :   90.063em;

@mixin mq($mq) {
    // Extra Small screens
    @if $mq == xsmallscreens {
        @media only screen and (min-width: $xsmallscreens) { @content ; } 
    }

    // Small screens
    @else if $mq == smallscreens {
        /* Define mobile styles */
        @media only screen and (min-width: $smallscreens) { @content ; } 
    }

    //// Medium screens
    //@else if $mq == mediumscreens {
    //    /* min-width 641px, medium screens */
    //    @media only screen and (min-width: $mediumscreens) { @content ; } 
    //}
    //
    //// Large screens
    //@else if $mq == largescreens {
    //    /* min-width 1025px, large screens */
    //    @media only screen and (min-width: $largescreens) { @content ; } 
    //}

    @if $mq == retina {
        @media
          only screen and (-webkit-min-device-pixel-ratio: 2),
          only screen and (   min--moz-device-pixel-ratio: 2),
          only screen and (     -o-min-device-pixel-ratio: 2/1),
          only screen and (        min-device-pixel-ratio: 2),
          only screen and (                min-resolution: 192dpi),
          only screen and (                min-resolution: 2dppx) {
            @content;
        }
    }
}
